$main-font-size: 14px;
$main-font-family: 'Montserrat',
sans-serif;
$main-line-hight: 1.2;
$main-font-weight: 400;
$base-color-red: #f38181;
$base-color-yellow: #fce38a;
$base-color-green: #95e1d3;
$base-color-grey: #333333;
$base-color-light-grey: #999999;
$base-color-white: #ffffff;
